# --- FPT AI Factory Chat Config ---
CHAT_MODEL_NAME=Llama-3.3-70B-Instruct
CHAT_BASE_URL=https://mkp-api.fptcloud.com/v1
CHAT_API_KEY=your_fpt_chat_api_key_here
STANDARD_CHAT_API_KEY=your_fpt_standard_chat_api_key_here
FPT_CHAT_MODELS=Llama-3.3-70B-Instruct,gemma-3-27b-it

# --- FPT AI Factory Embedding Config ---
EMBEDDING_MODEL_NAME=multilingual-e5-large
EMBEDDING_BASE_URL=https://mkp-api.fptcloud.com/v1
EMBEDDING_API_KEY=your_fpt_embedding_api_key_here

# --- Reranker (Left blank to bypass reranker) ---
RERANKER_MODEL_NAME=
RERANKER_BASE_URL=
RERANKER_API_KEY=
